[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
freezegun = "*"
pytest = "*"
mypy = "*"
flake8 = "*"

[packages]
nameparser = "*"
lxml = "*"
regex = "*"
jsonlines = "*"

[requires]
python_version = "3.7"
