[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
freezegun = "~=0.3.15"
pytest = "~=5.4.3"
mypy = "~=0.780"
flake8 = "~=3.8.3"

[packages]
nameparser = "~=1.0.6"
lxml = "~=4.6.3"
regex = "~=2020.6.8"
jsonlines = "~=1.2.0"

[requires]
python_version = "3.7"
